@model IEnumerable<Employee>
@{
    int i = 1;
}

<table class="table table-bordered">
    <thead>
        <tr class="text-center">
            <th scope="col">№</th>
            <th scope="col">Фамилия, имя, отчество</th>
            <th scope="col">Подразделение</th>
            <th scope="col">Звание</th>
            <th scope="col">Должность</th>
            <th scope="col">Количество курсов вакцинации</th>
            <th colspan="2">Действия</th>
        </tr>
    </thead>
    <tbody>

        @foreach (Employee e in Model)
        {
            <tr class="text-center">
                <td scope="row">@(i++)</td>
                <td>
                    <a asp-action="UpdateEmployee" asp-route-key="@e.Id">
                        @e.FIO
                    </a>
                </td>
                <td>@e.Subdivision.SubdivisionName</td>
                <td>@e.Rank.RankName</td>
                <td>@e.Position.PositionName</td>
                <td>@e.CountCourseVaccination</td>
                <td class="td-control">
                    <form asp-action="DeleteEmployee" method="post">
                        <input type="hidden" name="Id" value="@e.Id" />
                        <button type="submit" class="btn btn-outline-danger">
                            Удалить
                        </button>
                        <a class="btn btn-outline-success"
                           asp-controller="Vaccination"
                           asp-action="VaccinationCourses"
                           asp-route-id="@e.Id">
                            Курсы вакцинации
                        </a>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
<p>@ViewBag.ReturnUrl</p>