@model IEnumerable<Employee>

@{ 
    Layout = "_Layout";
}

<div><h2>Employees</h2></div>
<div>
    <div class="container-fluid mt-3">
        <div class="row">
            <div class="col font-weight-bold">FIO</div>
            <div class="col font-weight-bold">Subdivision</div>
            <div class="col font-weight-bold">Rank</div>
            <div class="col font-weight-bold">Position</div>
            <div class="col"></div>
        </div>
        @foreach (Employee e in Model)
        {

            <div class="row p-2">
                <div class="col">@e.FIO</div>
                <div class="col">@e.Subdivision.SubdivisionName</div>
                <div class="col">@e.Rank.RankName</div>
                <div class="col">@e.Position.PositionName</div>
                <div class="col">
                    <form asp-action="DeleteEmployee" method="post">
                        <a asp-action="UpdateEmployee" asp-route-key="@e.Id"
                           class="btn btn-outline-primary">
                            Редактировать
                        </a>
                        <input type="hidden" name="Id" value="@e.Id" />
                        <button type="submit" class="btn btn-outline-danger">
                            Удалить
                        </button>

                    </form>
                    <form asp-controller="Vaccination" asp-action="VaccinationCourses" method="post">
                        <input type="hidden" name="Id" value="@e.Id" />
                        <input type="hidden" name="FIO" value="@e.FIO" />
                        <button class="btn btn-outline-success">
                            Курсы вакцинации
                        </button>
                    </form>
                </div>
            </div>
        }
        <div class="text-center p-2">
            <a asp-action="UpdateEmployee" asp-route-key="0"
               class="btn btn-primary">Add</a>
        </div>
    </div>
</div>
