@model Employee

@{
    Layout = "_Layout";
}

<div class="my-own-container">
    <div class="info-employee-line">
        <p>
            @(Model.Id == 0 ? "Добавление нового сотрудника" : "Редактирование данных") <span class='emp-name'>@(Model.FIO ?? "")</span>
        </p>
    </div>

    <div class="my-own-container-mid">
        <form asp-action="UpdateEmployee" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="employeeOriginal.Id" value="@Model?.Id" />
            <input type="hidden" name="employeeOriginal.FIO" value="@Model?.FIO" />
            <input type="hidden" name="employeeOriginal.SubdivisionId" value="@Model?.SubdivisionId" />
            <input type="hidden" name="employeeOriginal.RankId" value="@Model?.RankId" />
            <input type="hidden" name="employeeOriginal.PositionId" value="@Model?.PositionId" />
            <input type="hidden" name="Id" value="@Model.Id" />
            <div class="form-group">
                <label asp-for="FIO"></label>
                <div><span asp-validation-for="FIO" class="text-danger"></span></div>
                <input asp-for="FIO" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Subdivision.SubdivisionName"></label>
                <div><span asp-validation-for="SubdivisionId" class="text-danger"></span></div>
                <select class="form-control" asp-for="SubdivisionId">
                    @if (Model.SubdivisionId == null)
                    {
                        <option disabled selected value="0">-- Выберите подразделение --</option>
                    }
                    @foreach (Subdivision s in ViewBag.Subdivisions)
                    {
                        <option selected=@(Model.Subdivision?.Id == s.Id) value="@s.Id">@s.SubdivisionName</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Rank.RankName"></label>
                <div><span asp-validation-for="RankId" class="text-danger"></span></div>
                <select class="form-control" asp-for="RankId">
                    @if (Model.RankId == null)
                    {
                        <option disabled selected value="0">-- Выберите звание --</option>
                    }
                    @foreach (Rank r in ViewBag.Ranks)
                    {
                        <option selected=@(Model.Rank?.Id == r.Id) value="@r.Id">@r.RankName</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Position.PositionName"></label>
                <div><span asp-validation-for="PositionId" class="text-danger"></span></div>
                <select class="form-control" asp-for="PositionId">
                    @if (Model.PositionId == null)
                    {
                        <option disabled selected value="0">-- Выберите должность --</option>
                    }
                    @foreach (Position p in ViewBag.Positions)
                    {
                        <option selected=@(Model.Position?.Id == p.Id) value="@p.Id">@p.PositionName</option>
                    }
                </select>
            </div>
            <div class="text-center">
                <button class="btn btn-primary" type="submit">Сохранить</button>
                <a asp-action="Index" class="btn btn-secondary">Отмена</a>
            </div>
        </form>
    </div>
    <a class="btn btn-secondary" asp-controller="Vaccination" asp-action="BackToHomeIndex"
       asp-route-returnUrl="@UrlExtensions.ReturnUrlFromSession(ViewContext.HttpContext)">Вернуться на главную</a>
</div>



