@model IEnumerable<EmployeeVaccineJunction>

@{ Layout = "_Layout"; }

<div class="info-employee-line"><p>Список пройденных курсов вакцинации сотрудника <span class="emp-name">@(ViewBag.Employee.FIO.ToUpper())</span><p></div>

<div>
    @if (Model.Count() > 0)
    {

        <div>
            <div class="container-fluid mt-3">
                <div class="row">
                    <div class="col font-weight-bold">VaccineName</div>
                    <div class="col font-weight-bold">DateFirstComponent</div>
                    <div class="col font-weight-bold">DateSecondComponent</div>
                    <div class="col"></div>
                </div>
                @foreach (EmployeeVaccineJunction evj in Model)
                {
                    <div class="row p-2">
                        <input type="hidden" name="EmployeeId" value="@evj.EmployeeId" />
                        <div class="col">@evj.Vaccine.VaccineName</div>
                        <div class="col">@evj.DateFirstComponent</div>
                        <div class="col">@evj.DateSecondComponent</div>
                        <div class="col-2">
                            <a asp-action="UpdateEmployeeVaccineJunction" asp-route-id="@evj.Id"
                               class="btn btn-outline-primary">
                                Редактировать
                            </a>
                            <form asp-action="DeleteEmployeeVaccineJunction" method="post">
                                <input type="hidden" name="Id" value="@evj.Id" />
                                <input type="hidden" name="EmployeeId" value="@evj.EmployeeId" />
                                <button type="submit" class="btn btn-outline-danger">
                                    Удалить
                                </button>
                            </form>
                        </div>
                    </div>  
    }

    </div>
</div> 
    }
else
{
<div><h4>@ViewBag.Employee.FIO не вакцинирован!</h4></div>
}
</div>

<div class="text-center p-2">
       <a asp-action="CreateNewCourse" asp-route-employeeId="@ViewBag.Employee.Id"
       class="btn btn-primary">Создать новый курс вакцинации</a>
</div>

