@model IEnumerable<EmployeeVaccineJunction>

@{ Layout = "_Layout";
    int i = 1;
        }




<div class="my-own-container">
    <div class="info-employee-line"><p>Список пройденных курсов вакцинации сотрудника <span class="emp-name">@(ViewBag.Employee.FIO.ToUpper())</span><p></div>
    <div>
        @if (Model.Count() > 0)
        {
            <table class="table table-bordered table-border-radius">
                <thead>
                    <tr class="text-center">
                        <th scope="col">№ п/п</th>
                        <th scope="col">Название вакцины</th>
                        <th scope="col">Дата получения первого компонента</th>
                        <th scope="col">Дата получения второго компонента</th>
                        <th scope="col">Действие</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (EmployeeVaccineJunction evj in Model)
                    {
                        <tr class="text-center">
                            <td scope="row">@(i++)</td>
                            <td>@evj.Vaccine.VaccineName</td>
                            <td>@evj.DateFirstComponent?.ToString("d")</td>
                            <td>@evj.DateSecondComponent?.ToString("d")</td>
                            <td>
                                <div class="button-control">
                                    <div class="buttons-inline">
                                        <form asp-action="UpdateEmployeeVaccineJunction" method="get">
                                            <input type="hidden" name="Id" value="@evj.Id" />
                                            <input type="hidden" name="EmployeeId" value="@evj.EmployeeId" />
                                            <button type="submit" class="btn btn-outline-primary">
                                                Редактировать
                                            </button>
                                        </form>
                                    </div>
                                    <div class="buttons-inline">
                                        <form asp-action="DeleteEmployeeVaccineJunction" method="post">
                                            <input type="hidden" name="Id" value="@evj.Id" />
                                            <input type="hidden" name="EmployeeId" value="@evj.EmployeeId" />
                                            <button type="submit" class="btn btn-outline-danger">
                                                Удалить
                                            </button>
                                        </form>
                                    </div>

                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <div class="vaccine-none"><p>@ViewBag.Employee.FIO не вакцинирован!</p></div>
        }
    </div>

    <div class="text-center p-2">
        <a asp-action="UpdateEmployeeVaccineJunction" asp-route-EmployeeId="@ViewBag.Employee.Id"
           class="btn btn-outline-primary">Создать новый курс вакцинации</a>
    </div>
    <a class="btn btn-secondary" asp-action="BackToHomeIndex"
       asp-route-returnUrl="@UrlExtensions.ReturnUrlFromSession(ViewContext.HttpContext)">Вернуться на главную</a>
</div>




